html {
  /*https://500px.com/photo/91380019/Peyto-Lake-by-Darcy-Ertman/*/
  background: url('/chromefolio/images/wallpaper.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

#shelf {
  /*bottom center position*/
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 90vh;

  /*dimensions*/
  height: 55px;
  width: 95vw;

  /*color*/
  background-color: rgba(44,51,56,0.9);/*#2c3338*/

  /*shape*/
  border-radius: 30px;
}

#launcher {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(81,87,92,0.9);/*#42484c*/
  width: 40px;
  height: 40px;
  left: 8px;
}

#launcher::after {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #ffffff;
  content: '';
  color: white;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -6px;
}


.app {
  position: static;
}



#menu-toggle {
  /*position*/
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  /*shape*/
  border-radius: 30px;

  height: 40px;
  width: 95px;
  background-color: rgba(81,87,92,0.9);/*#42484c*/

  
}

.material-icons {
  font-size: 18px;
}
 

.material-icons.md-white {
  color: #ffffff;
}

#time {
  font-size: 14px;
  color: #ffffff;
}